.header_section {
    position: relative;
    z-index: 1;
}

.header_section::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid #f7f6f5;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.header_top {
    padding: 0px 20px;
}

.header_top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top_svg svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
    fill: #5f5753;
}

.header_top_nav>ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.header_top_nav>ul>li {
    cursor: pointer;
    position: relative;
}

.header_top_nav>ul>li:hover>a {
    color: var(--topHover);
}

.header_top_nav>ul>li:hover>span {
    color: var(--topHover);
}

.header_top_nav>ul>li:hover>a i {
    color: var(--topHover);
}

.header_top_nav>ul>li:hover>.header_top_svg svg {
    fill: var(--topHover);
}

.header_top_nav>ul>li>a {
    color: var(--subColor);
    display: inline-block;
}

.header_top_nav ul li>a span {
    color: var(--subColor);
}

.header_top_nav ul li a i {
    color: var(--subColor);
}

.top_header_subNav {
    position: absolute;
    top: 20px;
    right: 0%;
    background-color: var(--subColor);
    height: auto;
    width: 240px;
    padding: 12px 0px;
    visibility: hidden;
    transition: all linear 0.3s;
    opacity: 0;
    z-index: 9;
}

.header_top {
    padding-top: 15px;
}

.header_top_nav>ul>li:hover .top_header_subNav {
    visibility: visible;
    opacity: 1;
    top: 32px;
}

.top_header_subNav::after {
    position: absolute;
    content: "";
    top: -8px;
    right: 10px;
    color: var(--subColor);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #5f5753;
}

.top_header_subNav ul li {
    cursor: pointer;
}

.top_header_subNav ul li a {
    color: var(--primaryColor);
    font-size: .875rem;
    line-height: 1.71429;
    padding: 6px 12px;
    white-space: nowrap;
    display: block;
}

.top_header_subNav ul li a:hover {
    background-color: #3e332d;
}


/* Top header End */


/* main header start */

.main_header {
    padding: 0px 20px;
    position: relative;
}

.main_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    height: 50px;
    max-width: 120px;
    width: 100%;
}

.header_logo img {
    width: 100%;
    object-fit: fill;
    display: block;
}

.header_nav {
    flex: 1 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.header_nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header_nav>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 30px 0px;
    position: relative;
    overflow: hidden;
}

.header_nav>ul>li>a::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 38%;
    bottom: -8px;
    transform: translateX(-50%) rotate(46deg);
    background: linear-gradient(90deg, #ae0a46, #a80b6e, #582873);
    visibility: hidden;
    transition: all linear 0.3s;
    opacity: 0;
}


/* .header_nav>ul>li>a:hover::before {
    visibility: visible;
    opacity: 1;
} */

.header_nav>ul>li>a::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: -10px;
    left: 0px;
    background: linear-gradient(90deg, #ae0a46, #a80b6e, #582873);
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    opacity: 0;
    z-index: 2;
}

.header_nav>ul>li>a:hover::after {
    visibility: visible;
    bottom: 0px;
    opacity: 1;
}

.header_nav>ul>li>span {
    font-size: 16px;
    color: var(--navColor);
    font-weight: 600;
    display: block;
}

.header_nav ul li span svg {
    position: relative;
    transform: translateY(2px);
}


/* sub nav */

.sub_nav {
    background-color: #fff;
    height: auto;
    position: absolute;
    width: 100%;
    left: 0px;
    border-top: 5px solid #a80b6e;
    top: 94%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
}

.sub_nav.active {
    visibility: visible;
    opacity: 1;
}

li.nav_toogler.active .sub_nav {
    visibility: visible;
    opacity: 1;
}


/* .header_nav ul li:hover .sub_nav {
    visibility: visible;
    opacity: 1;
} */

.sub_nav_content,
.sub_menu_botttom_content {
    max-width: 1224px;
    margin: 0px auto;
    padding: 24px 12px;
}

.sub_nav_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sub_nav_item {
    padding-left: 24px;
}

.sub_nav_item_title a {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    color: var(--subColor);
    padding: 12px 0px;
    font-weight: 500;
    position: relative;
}

.sub_nav_item_title a:hover {
    color: var(--topHover);
}

.nav_item_saparate {
    position: absolute;
    height: 5px;
    width: 24px;
    background: linear-gradient(90deg, #582873, #582873 24px, transparent 0);
    top: 0px;
    left: 0px;
}

.nav_item_saparate2 {
    background: linear-gradient(90deg, #a80b6e, #a80b6e 24px, transparent 0);
}

.nav_item_saparate3 {
    background: linear-gradient(90deg, #af4286, #dd7fcd 24px, transparent 0);
}

.nav_item_saparate4 {
    background: linear-gradient(90deg, #ae0a46, #ae0a46 24px, transparent 0);
}

.sub_nav_item_text {
    font-size: 15px;
    line-height: 1.5;
    color: var(--subColor);
    margin-bottom: 12px;
    width: 100%;
}

.sub_nav_item_list>ul>li>a {
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 22px;
    gap: 15px;
    padding: 6px 0px;
    color: var(--subColor);
    border-bottom: 1px solid rgb(95 87 83 / 5%);
}

.sub_nav_item_list>ul>li>a:hover {
    color: var(--topHover);
}

.sub_nav_item_list>ul>li>a>span {
    display: block;
}

.sub_nav_item_list>ul>li>a>span>i {
    display: block;
    font-size: 12px;
    color: var(--mainColor);
}

.sub_menu_botttom {
    background: #f7f6f5;
}

.sub_botttom_text {
    display: inline-block;
    color: var(--subColor);
    margin-left: 24px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 6px;
    margin-bottom: 12px;
    position: relative;
}

.sub_botttom_text::after {
    position: absolute;
    content: "";
    background-color: #cbc4c3;
    height: 1px;
    width: 60%;
    top: 0px;
    left: 0px;
}

.sub_botttom_text:hover {
    color: var(--topHover);
}


/* sub nav end */

.header_search {
    max-width: 270px;
    height: 36px;
    width: 100%;
    position: relative;
}

.input_control:focus~.header_search {
    width: 400px;
}

.header_search_inner {
    width: 100%;
    height: 100%;
}

.input_control {
    height: 100%;
    width: 100%;
    outline: none;
    display: block;
    padding: 6px 12px;
    border: 1px solid #cbc4c3;
    color: #3e332d;
    background: #f7f6f5;
}

.input_control:focus {
    outline: 1px solid #95cfee;
}

.search_icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_icon span svg {
    display: flex;
}


/* banner start */

.banner_slider {}

.slider_inage {}

.slider_inage img {
    width: 100%;
    object-fit: fill;
    display: block;
    height: 480px;
}


/* 
===============================
    start single page
===============================
*/

.banner_single_page {}

.banner_image_single_page {
    height: 420px;
}

.banner_image_single_page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product_descreption {
    background-color: #f2f5f7;
    position: relative;
}

.product_descreption_content {
    margin-right: 50px;
    padding: 80px;
}

.product_descreption_title {
    font-size: 34px;
    color: var(--navColor);
    font-weight: 500;
    line-height: 34px;
    display: inline-block;
    position: relative;
}

.product_descreption_text {
    font-size: 18px;
    line-height: 26px;
    color: var(--subColor);
    margin: 30px 0px;
}

.product_descreption_btn {
    display: inline-block;
    color: var(--primaryColor);
    text-transform: uppercase;
    padding: 10px 25px;
    font-weight: 500;
    position: relative;
    transition: all linear 0.3s;
    background-color: var(--mainColor);
    border-radius: 30px;
}

.product_descreption_btn:hover {
    background-color: var(--lastColor);
    color: var(--primaryColor);
}

.product_descreption_image {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100%;
    display: flex;
}

.product_descreption_image img {
    width: 100%;
    display: block;
    object-fit: fill;
}


/* item */

.singlepage_latest_product {
    padding: 50px 0px;
}

.singlepage_latest_product_content {}

.section_title {
    font-size: 24px;
    color: var(--navColor);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
    position: relative;
}

.section_title::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: var(--mainColor);
    left: 0px;
    bottom: -20px;
}

.singlepage_latest_product_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.single_product_item {
    padding: 10px;
    border: 1px solid #0000000f;
    cursor: context-menu;
}

.single_product_item:hover {
    box-shadow: 0px 0px 10px #00000017;
}

.single_product_item_thumbnail {
    margin-bottom: 15px;
}

.single_product_item_thumbnail img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.single_product_item_content {
    padding: 20px 0px;
}

.single_product_item_content a {
    color: var(--mainColor);
    font-weight: 500;
    font-size: 14px;
}

.single_product_price {
    font-size: 18px;
    font-weight: 500;
    color: var(--subColor);
}

.top_brand_section {
    padding-bottom: 50px;
}

.top_brand_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}

.top_brand_item {
    padding: 15px 20px;
    background: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 7px 34px rgb(15 98 122 / 10%);
    border-radius: 8px;
}

.top_brand_item img {
    display: block;
    object-fit: cover;
    height: 100px;
}


/* 
===============================
    End single page
===============================
*/